@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400&display=swap');

.App {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* justify-content: center; */
  font-size: calc(2vmin);
  color: white;
  font-family: 'Source Code Pro', monospace;
}

.links {
  padding: 10px;
}

.link a {
  color: royalblue;
}